/*
turquoise: #2dbaa4
dark turq: #005029

*/
@media screen and (max-width: 1920px) {
@font-face {
  font-family: "enchanted_land";
  src: url(Enchanted\ Land\ DS\ D.otf);
}

@font-face {
  font-family: "KLGabe";
  src: url(KLGabe.ttf);
}

@font-face {
  font-family: "TT_Lakes_Neue";
  src: url(TT_Lakes_Neue_Trial_Regular.ttf);
}

@font-face {
  font-family: "TT_Lakes_Neue_bold";
  src: url(TT_Lakes_Neue_Trial_Expanded_Bold.ttf);
}

@font-face {
  font-family: "INS";
  src: url(INS_____.TTF);
}

body {
    background-color: #94d2b9;
}

nav {
    width: 100%;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: #89cca1;
    z-index: 4;
}

h1 {
    padding-left: 5%;
    padding-right: 40%;
    text-align: left;
    color: black;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 3vw;
}

h2 {
    text-align: right;
    color: white;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 2.5vw;
}

h3 {
    color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 3vw;
}

p {
  font-family: "TT_Lakes_Neue";
  font-size: 1.2vw;
}

.abtsection {
    width: 50%;
    padding-top: 45vh;
    margin-left: 25%;
}

.abtImgWrapper {
  position: relative;
  width: 100%;
  height: auto;
  border-bottom: 30px solid #00785e;
}

.abtImgWrapper span {
  position:absolute;
	top: 0;
	bottom:0;
	left: 0;
	right:0;
	width: 30%;
	height: auto;
	z-index: 10;
  margin-left: 50%;
	background: url(baby_tuna.png);
	background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.abtimg1 {
  width: 70%;
  height: auto;
  margin-left: 15%;
  z-index: 2;
}

.links {
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    max-width: 100%;
    height: auto;
    position: relative;
}

.cta {
  background-color: #89cca1;
  position: absolute;
  top: 115;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  padding-bottom: 2%;
}

.cta h3 {
  padding-left: 5%;
    text-align: left;
    color: black;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 3vw;
    width: 70%;
}

.cta img {
  width: 30%;
  height: 80%;
  margin-top: 10px;
  margin-right: 10%;
  padding-left: 50%;
}

a {
    text-decoration: none;
    z-index: 100;
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 50%;
    height: auto;
}

.bannerbelow {
    width: 100%;
    height: 92vh;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 3%;
    z-index: 1;
  }

:root {
  --slide-count: 8; /*no of slides (change to add more img)*/
  --slide-width: 400px; 
  --carousel-edge-pos:
      calc( 0% - ((var(--slide-width) * var(--slide-count)) - 100%) ); 
}

.carousel-section {
  overflow: hidden;
  margin-top: 15%;
}

.carousel {
  display: flex;
  align-items: stretch;
  gap: 3px;
  -webkit-overflow-scrolling: touch;
  animation: scroll 20s linear normal infinite;
  animation-play-state: running;
}

.carousel:hover {
  animation-play-state: paused;
}

.carousel img {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: var(--slide-width);
  height: 100%;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--carousel-edge-pos));
  }
}

  footer img {
    color: white;
    margin-top: 80vh;
    width: 100%;
    z-index: -100;
    position: absolute;
    left: 0;
    top: 0;
  }

footer {
  text-align: center;
}

.footerWrapper {
  color: white;
  float: right;
  margin-right: 25%;
  margin-top: 40vh;
  z-index: 2;
}

.aboutmobilefooter img{
  margin-top: 60%;
  width: 100%;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 0;
}

.aboutmobilefooter h3 {
  color: white;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 2.5vw;
}

.aboutmobilefooter p{
  color: white;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 1.5vw;
}
.aboutmobilefooter {
  text-align: center;
}

.aboutmobilefooterWrapper {
  color: white;
  float: right;
  margin-right: 25%;
  margin-top: 20%;
  z-index: 2;
}

/*end of index; everything from here on is for other pages*/

.abtimg3 {
  width: 63%;
  height: auto;
  margin-left: 19%;
  margin-top: 38%;
}

.abtImgWrappertwo {
  position: relative;
  width: 100%;
  height: auto;
}

  .aboutheader {
    margin-top: 50vh;
    z-index: 100;
    margin-left: 25vw;
    color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 3vw;
    text-align: left;
  }

  .aboutWrapper {
    width: 40%;
    margin-left: 35%;
    text-align: right;
    z-index: 100;
  }

.aboutWrapper h3 {
  color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 3vw;
    text-align: left;
}

.aboutWrapper p {
  color: black;
    font-family: "TT_Lakes_Neue";
    font-size: 1.2vw;
}

.aboutMicah {
  position: absolute;
  top: 70vh;
  left: 0;
  z-index: 5;
  width: 30vw;
  height: 60vw;
  margin-left: 5%;
  background-image: url(head1.png);
  background-size: contain; 
}

.hotlinks {
  display: flex;
  flex: wrap;
  justify-content: space-around;
  width: 70%;
  padding-top: 2vh;
}

.gallery {
    width: 100%;
    padding-left: 5%;
    padding-top: 15%;
}

.galleryProj {
    width: 100%;
}

.galcolumn {
    flex: 45%;
    max-width: 24%;
    padding: 0 5px;
}

.galcolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.minicolumn {
    flex: 45%;
    max-width: 50%;
    padding: 0 5px;
}

.minicolumn img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.minicolumntwo {
  display: flex;
    max-width: 100%;
}

.minicolumntwo img {
    vertical-align: middle;
    width: 100%;
    padding: 2vh;
}

.threecolumn {
    flex: 25%;
    max-width: 50%;
    padding: 0 4px;
}

.threecolumn img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 22%;
    padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.box {
  position: relative;
}

/*comic page*/
.title {
  margin-top: 10%;
  margin-left: 25%;
  width: 50%;
  font-family: "enchanted_land";
  font-size: 300%;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
  text-align: center;

}

.blurb {
  margin-top: 2%;
  margin-left: 25%;
  width: 50%;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 120%;
  font-weight: 400;
  font-style: normal;
  z-index: 2;
  text-align: center;
  font-family: "TT_Lakes_Neue";
}
.mag {
  display: block;
  margin-left: 15%;
  margin-right: auto;
  width: 70%;
  max-width: 1440px;
  padding-top: 70px;
  text-align: center;
  z-index: 2;
}

.magimg {
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 70%;
    max-width: 1440px;
    padding-top: 2vh;
    text-align: center;
    z-index: 2;
}

.horseimg {
    display: block;
    margin-left: 5%;
    margin-right: auto;
    width: 90%;
    max-width: 1440px;
    text-align: center;
    z-index: 2;
}

.h3button {
  display: none;
}

.contactWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40vh;
}

.contactWrapper h3 {
  text-align: center;
    color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 6vh;
}

.contactIcons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 75%;
  margin-left: 22%;
}

.contactIcons img {
  width: 80%;
  padding: 2vh;
}

figure {
  width: 35%;
  text-align: center;
  text-align: center;
    color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 4vh;
}

.contactIcons a {
  width: 50%;
}

/*mobile 500x667*/

@media screen and (max-width: 667px) {

  .nm {
    display: none;
  }

  nav {
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    background-color: #89cca1;
    z-index: 4;
}

  h1 {
    text-align: center;
    padding-left: 10vw;
    color: black;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 3.5vh;
}

h2 {
    text-align: center;
    color: white;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 2.5vh;
}

h3 {
  text-align: center;
    color: black;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 3vh;
}

p {
  font-family: "TT_Lakes_Neue";
  font-size: 1.5vh;
  text-align: center;
}

.abtImgWrapper {
  border-bottom: 2px solid #00785e;
  width: 100%;
  padding-bottom: 5%;
}

.cta {
  background-color: #89cca1;
  position: absolute;
  top: 125;
  left: 0;
  width: 100%;
  height: 150px;
  display: flex;
  padding-bottom: 2%;
}

.cta h3 {
  padding-left: 34vw;
    text-align: left;
    color: black;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 3.5vw;
    width: 70%;
    
}

.h3button {
  display: block;
  width: 122%;
  height: 10vh;
  text-align: left;
    color: black;
    font-family: "enchanted_land";
    font-size: 3.5vw;
    background-color: #fff;
    margin-top: 20%;
    margin-left: 100%;
    text-align: center;
    border: none;
    border-radius: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  top: 5vh;
  z-index: -1;
   color: #fff;
}

.footerWrapper {
  position: absolute;
  top: 85vh;
  left: 55vw;
  z-index: 2;
  color: #fff;
}

a {
  text-decoration: none;
}

.aboutWrapper {
  width: 50%;
  margin-top: 10%;
  margin-left: 25%;
  text-align: center;
  z-index: 1000;
}

.aboutWrapper h3 {
  color: white;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 3vh;
    text-align: center;
}

.aboutWrapper p {
  color: white;
    font-family: "TT_Lakes_Neue";
    font-size: 1.5vh;
}

.aboutmobilefooter img{
  width: 100%;
  z-index: -100;
  position: absolute;
  left: 0;
  top: 90%;
  bottom: 0;
}

.aboutmobilefooter h3 {
  color: white;
    font-family: "enchanted_land";
    font-kerning: 10px;
    font-size: 2.5vw;
}

.aboutmobilefooter p{
  color: white;
    font-family: "ins";
    font-kerning: 10px;
    font-size: 1.5vw;
}
.aboutmobilefooter {
  text-align: center;
}

.aboutmobilefooterWrapper {
  color: white;
  float: right;
  margin-right: 25%;
  margin-top: 20%;
  z-index: 2;
}

}